include drugnome_ai/data/*
include drugnome_ai/data/string_db/*
include drugnome_ai/data/CTD/*
include drugnome_ai/data/exSNP/*
include drugnome_ai/data/PHAROS/*
include drugnome_ai/data/essential_mouse_genes/*
include drugnome_ai/data/DGIdb/*
include drugnome_ai/data/pharmgkb/*
include drugnome_ai/data/interpro/*
include drugnome_ai/data/labels/*
include drugnome_ai/data/ExAC/*
include drugnome_ai/data/gwas_catalog/*
include drugnome_ai/data/gnomad/*
include drugnome_ai/data/goa/*
include drugnome_ai/data/mgi/HMD_HumanPhenotype.rpt
include drugnome_ai/data/mgi/VOC_MammalianPhenotype.rpt
include drugnome_ai/data/mgi/MGI_LethalityPhenotypes.txt
include drugnome_ai/data/mgi/hmd_human_pheno.processed.rpt
include drugnome_ai/data/mgi/process_mgi_files.py
include drugnome_ai/data/mgi/mgi_essential_genes.tsv
include drugnome_ai/data/ensembl/*
include drugnome_ai/data/platelets_eqtl/README.md
include drugnome_ai/data/platelets_eqtl/process_platelets_eqtl.py
include drugnome_ai/data/platelets_eqtl/platelets_eQTL.csv
include drugnome_ai/data/Reactome/*
include drugnome_ai/data/in_web/*
include drugnome_ai/data/rvis_plosgen_2013/*
include drugnome_ai/data/neph_qtl/*
include drugnome_ai/data/omim/*
include drugnome_ai/data/ckddb/*
include drugnome_ai/data/adipose_eqtl/*
include drugnome_ai/data/HPO/*
include drugnome_ai/data/genic-intolerance/*
include drugnome_ai/data/human_protein_atlas/*
include drugnome_ai/data/exac-broadinstitute/*
include drugnome_ai/data/exac-broadinstitute/cnv/*
include drugnome_ai/data/essential_genes_for_mouse/*
include drugnome_ai/data/msigdb/tables_per_gene_set/*
include drugnome_ai/data/gtex/RNASeq/*
include drugnome_ai/modules/supervised_learn/feature_selection/boruta_feature_selection.R
include drugnome_ai/conf/.config
include drugnome_ai/conf/CKD_config.yaml
include drugnome_ai/conf/ALS_config.yaml
include drugnome_ai/conf/Epilepsy_config.yaml
include README.md
include ABOUT.md
include VERSION
include LICENSE

